{% extends "layouts/main.html" %}
{% block content %}

<article class="tet shadow rounded mt-3 w-75 p-3 border">
    <h4>Crea un post</h4>
    <form method='POST' action='' enctype='multipart/form-data'>
        {% csrf_token %}
        {% if posts is not None %} 
        <input type="hidden" value="{{posts.id}}" name="id" >
        {% endif %}
        <div class='form-group my-3'>
            <label> Titulo </label>
            <input type='text' class='form-control' name='title' placeholder='Titulo'
            {% if posts is not None %}
                value ="{{posts.title}}"
            {% endif %}
            >
        </div>
        <div class='form-group my-3'>
            <label> Comentario </label>
            <textarea class='form-control' name='Comentario'>{% if posts is not None %}{{posts.Comentario}}{% endif %}</textarea>
        </div>
        <div class='form-group my-3'>
            <label> Imagen </label>
            <input type='file' name='image' accept='image/*'>
        </div>
        <button class='btn btn-primary' type='submit'> Enviar </button>
    </form>
</article>

{% endblock content %}